.add-product {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 6px;
    background-color: white;
}

.addproduct-itemfield {
    width: 100%;
    color: #7b7b7b;
    font-size: 16px;
}

.addproduct-itemfield input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
}
